 
.bbs-view-div{
  text-align :left;
  border-bottom :solid;
  border-bottom-color:gray;
  border-bottom-width:1px;
  min-height : 400px;
  
}
#bbs-view-info{
    border-top:solid;
    border-top-color:gray;
    border-top-width:1px;
    text-align : right;
}


thead{
  font-size:20px;
  font-weight: bold;
}
b{
  color:black;
}