img{
  width : 100%;
  height : 70%;
}
.index-container{
  display : flex;
  height : 70%;
}
#index-1{
  font-size : 18px;
  flex : 1;
  margin-left : 15px;
  text-align : left;
  /* background-color : black; */

}
#index-2{
  flex : 1;
  background-color: pink;
}
